@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  color: white;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  
}
/* fro Mobile */
@media (max-width: 550px) {
  .App{
    height: auto;
    overflow: hidden;
  }
}